{{> layout
    title="Account Suspended"
    headerGradientStart="#EF4444"
    headerGradientEnd="#DC2626"
    headerText="Account Suspended"
    footerNote="You're receiving this email because your account has been suspended."
    }}
<h1>Account Suspended</h1>
<p>Your account has been suspended.</p>
<p>Reason: {{reason}}</p>
<p>Please contact support for more information.</p>
